@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 80px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover
{
    text-decoration: underline;
    color: #017143; 
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;    
}

.content .textBox h2
{
    color: #333;
    font-size: 3.3em;
    line-height: 1.2em;
    font-weight: 500;
}

.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p
{
    color:#333;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 340px;
}

.content .textBox form
{
    background:;
    max-width: 500px;
    width: 100%;
}

.content .textBox form h3
{
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
}
.content .textBox form #seunome
{
    background: ;
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    margin: 10px 0;
    color: #333;
    padding: 5px;
    outline: 0;
}

.content .textBox #Email
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}

.content .textBox #enviar
{
    width: 80%;
    height: 25px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    background: #017143;
    color: #fff;
    cursor: pointer;
    
}
.content_cadastro .textBox3 #enviar
{
    width: 80%;
    height: 25px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    background: #017143;
    color: #fff;
    cursor: pointer;
    
}
.content .textBox form #seunome
{
    background: ;
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    margin: 10px 0;
    color: #333;
    padding: 5px;
    
}

.content_cadastro .textBox3 #E_mail
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}
.content_cadastro .textBox3 #cpf
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}
.content_cadastro .textBox3 #seunome
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}
.content_cadastro .textBox3 #lastname
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}
.content_cadastro .textBox3 #endereco
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}
.content_cadastro .textBox3 #senha
{
    width: 80%;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: 0;
}
.content_cadastro .textBox3 form #seunome:focus
{
    outline: 0;
}

.content_cadastro
{

    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_cadastro .imgBox img
{
    margin-top: 50px;
}

.content_cadastro .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}


.content_cadastro .imgBox img
{
    max-width: 340px;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;

}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img
{
    max-width: 60px;
}


/* ul da loja */

.thumb_loja
{
    position: relative;
    left: 125%;
    margin-top: 50px;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;

}

.thumb_loja li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb_loja li:hover
{
    transform: translateY(-15px);
}

.thumb_loja li img
{
    max-width: 60px;
}

.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style:none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#017143;
    clip-path: circle(600px at right 800px);
}

.footer
{
    background: #fff;
    height: 10px;
}

.footer p
{
    text-align: center;
    font-size: 10px;
    color:#333;
}

/* PAGE Loja */
main
{
    width:500px;
}

.card
{   
    background:#fff;
    border: 1px solid #DCDCDC;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput
{
    display: grid; /*para o input ficar um embbaixo do outro */ 
    margin-bottom: 10px;
}

input
{
    padding: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    outline: 0;
}

button
{
    border: 0px;
    padding: 10px;
    outline: 0;
    background: #017143;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s; /* efeito para deixar lento o ponteiro do mouse qnd passar por cima do botão*/
}

button:hover
{
    background-color: #035f39;

}

.content2
{
    margin-top: 15px;

}

table
{
    border-collapse: collapse; /*deixa a borda da tabela mais fina*/
    border: 1px solid #333; /*ou #ccc*/
    width: 100%;
}

table th
{
    background-color: rgb(214, 214, 214);
}

table th, td
{
    text-align: left;
    padding: 1px 5px;    
    background: #f0f1f1;
}

table td img
{
    width: 20px;
    margin-top: 3px;
}

.center
{
    text-align: center;
}

@media (max-width: 991px)
{
    header
    {
        padding: 20px;
    }

    header .logo
    {    
        max-width: 60px;
    }

    header ul
    {
        display: none;
    }

    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../imagens/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
        
    }

    .toggle.active
    {
        position: fixed;
        right: 20px;
        background: url(../imagens/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    header ul.navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }

    header ul li a 
    {
        font-size: 1.5em;
        margin: 5px 0;;
    }

    section
    {
        padding: 20px 20px 120px;
    }

    .content .textBox form h3
    {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    }

    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }
    
    .content .textBox
    {
        max-width: 100%;
    }
    
    .content .textBox h2 
    {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img 
    {
        max-width: 240px;
    }

    .content_cadastro .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }

    .content_cadastro .imgBox img 
    {
        max-width: 240px;
    }

    .thumb li img
    {
        max-width: 40px;
    }

    .circle
    {
        clip-path: circle(400px at center bottom);
    }

    .sci
    {
        background:#017143;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .footer
    {
        height:20px;
    }
    
    .footer p
    {
        font-size: 10px;
        text-align: center;
        color:#333;
    }
}